@import url('https://fonts.googleapis.com/css?family=Cabin:400,400i,500,600,700,700i');
body{
	text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
ol{
	list-style-type: lower-alpha;
}

ul{
	list-style-type:square;
	list-style-position:outside;
}


ul li{

margin:5px;
border:1px solid black;
	}
div.nav{
border:1px solid black;
background-color:burlywood;
margin: 0px auto 0px auto;
text-align: center;
padding:10px 10px 10px 10px;
font-size: 30px;
letter-spacing: 5px;
word-spacing: 50px;
font-style: normal;
font-family: 'Cabin', sans-serif;
border-top-left-radius: 30px 20px;
border-bottom-left-radius: 30px 20px;
border-top-right-radius: 30px 20px;
border-bottom-right-radius: 30px 20px;
}


a:link{
	color:rgb(255, 255, 255);
}


a:visited{
	color:rgb(255, 255, 255);
}

a:hover{
	color:rgb(151, 102, 206);
	font-size: 30px;
	text-transform: uppercase;
}

div.bigBox{


 border-style: solid;
 border-width: 5px;
 margin: 15px 10px 15px 10px;
}
img{
   
    border: 2px solid blue;
    width:20%;
    margin: 15px 20px 20px 50px;
    padding: 30px;
    margin: 0px auto 0px auto;
}